<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://creative-ly.netlify.app/creatively.css">
    <link rel="stylesheet" href="stylesheets/rules.css">
    <title>Rules | Quizzomania</title>
</head>
<body>

    <nav class="nav-bar">
        <img class="nav-logo" src="../components/images/quizzlogo.png" alt="nav-logo"/>
            <div class="nav-option">
            <div class="nav-short">
                <i class="fas fa-bars"></i>
            </div>
            <ul>
                <li><p><i class="fas fa-home"></i> Home</p></li>
                <li><p><i class="far fa-user"></i>Profile</p></li>
            </ul>
        </div>
    </nav>      

    <div class="rules-section">
        <h1 class="rules-heading">Rules for the quiz</h1>
        <h4>Please read the following instructions
            carefully before starting with the quiz</h4>
        <ul class="stacked-list">
            <li><p><i class="fa-solid fa-graduation-cap"></i> The participants shall not be allowed to use mobile.</p></li>
            <li><p><i class="fa-solid fa-graduation-cap"></i> The questions shall be in the form of MCQ or True / False statement.</p></li>
            <li><p><i class="fa-solid fa-graduation-cap"></i> You cannot switch to another tab while attempting the quiz.</p></li>
            <li><p><i class="fa-solid fa-graduation-cap"></i> Time limit for the quiz is 10 minutes only.</p></li>
            <li><p><i class="fa-solid fa-graduation-cap"></i> You will get 60 seconds to answer the One question.</p></li>
            <li><p><i class="fa-solid fa-graduation-cap"></i> There is no negative marking for wrong answer.</p></li>
        </ul>
        <button class="rule-button">Start the quizz <i class="fa-solid fa-arrow-right-long"></i></button>
                                                                                                                               
    </div>


    <footer class="footer-section">
        <div class="footer__flex">
            <div class="footer__text">
                <h2>Made with <span>< /></span> by Lomesh</h2>
            </div>
            <div class="footer__social">
                <a href="https://github.com/lomesshh"><i class="fab fa-github fa-2x"></i></a>
                <a href="https://www.linkedin.com/in/lomesshh/"><i class="fab fab fa-linkedin fa-2x"></i></a>
                <a href="https://twitter.com/lomesshh"><i class="fab fa-twitter fa-2x"></i></a>
            </div>
        </div>
    </footer>
    
</body>
</html>